<div class="ocean-wrap">
  <div class="ocean">
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
  </div>
</div>


<footer class="page-footer text-white">
  <div class="container-fluid">
    <div class="row">
      <div class="footer-block col-12  col-lg-4 d-flex flex-column align-items-center">
        <img src="./../scss/images/logo1.jpg" class="footer-logo" alt="logo">
        <p class="motto">Якість - запорука нашого успіху!</p>
      </div>

      <div class="col-12  col-lg-4 d-flex justify-content-center mt-3">
        <div class="footer-block with-white-line">
          <p>Наші контакти</p>
          <div class="links">
            <ul class="push">
              <li><a class="link"
                     href="https://www.google.com/maps/search/вул.+вікентія+хвойки+15%2F15+офіс+3/@50.4831683,30.4701665,14z" target="_blank">
                <i class="fas fa-map-marker-alt"></i> вул. Вікентія Хвойки, буд. 15/15</a>
              <li> <a href="tel: +38099000000" class="link"><i class="fas fa-phone">+38(099)-000-00-00</i></a></li>
              <li><a href="mailto: info@gmail.com" class="link"><i class="far fa-envelope"> info@gmail.com</i></a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-12  col-lg-4 d-flex justify-content-center mt-3">
        <div class="footer-block with-white-line">
          <p>Навігація</p>
          <div class="links">
            <ul class="push">
              <li><a class="link" routerLink="/">Про нас</a></li>
              <li><a class="link" routerLink="/import">Імпорт</a></li>
              <li><a class="link" routerLink="/contacts">Зворотній зв'язок</a></li>
              <li><a class="link" routerLink="/shop" >Магазин</a></li>
            </ul>
          </div>
        </div>
      </div>

    </div>
  </div>
</footer>
