<div class="container mt-4" *ngIf="!orderInWork">
  <div class="row user-data">
    <div class="col">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Им'я</span>
        </div>
        <input type="text" [(ngModel)]="user.name" class="form-control" placeholder="Джон" required>
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Прізвище</span>
        </div>
        <input type="text" [(ngModel)]="user.surname" class="form-control" placeholder="Доу" required>
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Компанія</span>
        </div>
        <input type="text" [(ngModel)]="user.company" class="form-control" placeholder="Альтамар" required>
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Країна</span>
        </div>
        <input type="text" [(ngModel)]="user.country" class="form-control" placeholder="Україна" required>
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Область</span>
        </div>
        <input type="text" [(ngModel)]="user.region" class="form-control" placeholder="Київська обл." required>
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Місто</span>
        </div>
        <input type="text" [(ngModel)]="user.city" class="form-control" placeholder="Київ" required>
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Телефон</span>
        </div>
        <input type="tel" [(ngModel)]="user.phone" class="form-control" placeholder="+380000000000" required  attern="[\+]\d{12}">
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">E-mail</span>
        </div>
        <input type="email" [(ngModel)]="user.email" class="form-control" placeholder="example@gmail.com" required>
      </div>
    </div>
  </div>

  <div class="container order mt-3 mb-4" *ngIf="order">
    <h2 class="row title mb-3">
      Ваше замовлення
    </h2>
    <div class="row order-item d-flex mb-2" *ngFor="let item of order.cartItems">
      <div class="info col-12 col-sm-6 col-md-3 text-center">Назва: {{item.productDTO.name}}</div>
      <div class="info col-12 col-sm-6 col-md-3 text-center">Кількість: {{item.quantity}}</div>
      <div class="info col-12 col-sm-6 col-md-3 text-center">Ціна за упаковку: {{item.productDTO.pricePack}}₴</div>
      <div class="info col-12 col-sm-6 col-md-3 text-center">Ціна: {{item.quantity * item.productDTO.pricePack}}₴</div>
    </div>
    <div class="row total mt-3">
      Загальна сумма: <span class="value">{{order.sum}} ₴</span>
    </div>
  </div>

  <div class="row">
    <div class="col-12 d-flex justify-content-center">
      <button class="btn btn-primary" (click)="confirmOrder()">Підтвердити замовлення</button>
    </div>
    <div *ngIf="errorStatus" class="col-12 text-danger d-flex justify-content-center">
      Error: {{errorStatus}}
    </div>
  </div>
</div>

<div class="order-in-work" *ngIf="orderInWork">
  Ваше замовлення відправлено на опрацювання
</div>



