.carousel-inner{
  height: 400px;
}
.carousel-item{
  height: 100%;
  overflow: hidden;
}
.carousel-inner img{
  width: auto;
  height: 100%;
  //transform: translateY(-30%);
}

.carousel-caption{
  position: absolute;
  top: 50%;
  transform: translateY(-85%);
  text-shadow: 4px 3px 0px #000000, 9px 8px 0px rgba(0,0,0,0.15);
  font-family: 'Oswald', sans-serif;
  font-size: 40px;
}

.header-h1 h1 {
  position: relative;
  padding-bottom: .5rem;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
}
.header-h1 h1::before {
  content: "";
  position: absolute;
  border-bottom: 2px solid #fff;

  bottom: .40rem;
  left: 50%;
  width: 30%;
  transform: translateX(-50%);
}
.header-h1 h1::after {
  content: "";
  position: absolute;
  border-bottom: 2px solid #fff;

  bottom: 0;
  left: 50%;
  width: 15%;
  transform: translateX(-50%);
}
.header-h1-left h1 {
  text-align: left;
}
.header-h1-left h1::before,
.header-h1-left h1::after {
  left: 0;
  transform: translateX(0);
}
.header-h1-right h1 {
  text-align: right;
}
.header-h1-right h1::before,
.header-h1-right h1::after {
  left: unset;
  right: 0;
  transform: translateX(0);
}


h3{
  text-align: center;
  font-family: 'Oswald', sans-serif;
  text-shadow: #e6a80e 0 0 2px;
  color: #28495a;
  font-size: 3em;
  font-weight: normal;
  line-height: 1;
  margin: 30px 0;
}

.about{
  background-color: #E6E6E6;

  .img{
    min-height: 200px;
    height: 100%;
    width: 100%;
    float: left;
    display: inline-block;
    background-image: url('./../../scss/images/about_us_fish_photo.jpg');
    opacity: 1;
    border-radius: 15px;
    background-size: cover;
  }

  .img1{
    background-image: url('./../../scss/images/about_us_fish_photo.jpg');
  }

  .img2{
    background-image: url('./../../scss/images/about_us_2.jpg');
  }
}

.info{
  background-color: #3f5e70;
  border-radius: 15px;
  border: 3px solid #e6a80e;

  .text {
    font-family: 'Oswald', sans-serif;
    font-size: 1.4em;
    color: white;
    line-height: 1.5;
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    a{
      text-decoration: underline;
      color: #fff;

      &:hover{
        color: #e6a80e;
      }
    }
  }
}


.sale-leaders-title {
  background: #fff;
  padding: 50px 20px;
  text-align: center;
}
.sale-leaders-title h1 {
  font-family: 'Oswald', sans-serif;
  text-shadow: #e6a80e 0 0 2px;
  position: relative;
  display: inline-block;
  margin: 0;
  line-height: 1;
  color: #28495a;
  font-size: 40px;
}
.sale-leaders-title h1:before,
.sale-leaders-title h1:after {
  content: "";
  position: absolute;
  width: 60%;
  height: .1em;
  background: #294200;
}
.sale-leaders-title h1:before {
  left: 0;
  top: 0;
}
.sale-leaders-title h1:after {
  right: 0;
  bottom: 0;
}
.sale-leaders-title h1 span:before,
.sale-leaders-title h1 span:after {
  content: "";
  position: absolute;
  width: .65em;
  height: .65em;
  border: .1em solid #28495a;
  border-radius: 50%;
  box-sizing: border-box;
}
.sale-leaders-title h1 span:before {
  top: -.55em;
  left: -.325em;
}
.sale-leaders-title h1 span:after {
  bottom: -.55em;
  right: -.325em;
}
@media (max-width: 600px) {
  .sale-leaders-title h1 {font-size: 2em;}
}

.sale-leaders{
  border: 4px double #000;
  padding: 40px 5px;
}

.leader-fish{
  transition: all 550ms ease-out;

  h3{
    width: 100%;
    min-width: min-content;
    max-width: 280px;
    border-radius: 15px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    background-color: #3f5e70;
    opacity: 0.7;
    border: 2px solid #e6a80e;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    text-shadow: #e6a80e 0 0 2px;
    color: #fff;
    font-size: 2em;
    padding: 10px;
    margin: 0 auto 40px;
  }

  &:hover{
    transform: scale(1.2);
  }
}

.fish{
  height: 70%;
  min-height: 200px;
  max-width: 300px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin: auto;
}

.leader-fish-1{
  background-image: url('./../../scss/images/Anchovy-1.png');
}
.leader-fish-2{
  background-image: url('./../../scss/images/Sardina-comun.jpg');
}
.leader-fish-3{
  background-image: url('./../../scss/images/Vomer_bolshoy.png');
}
.leader-fish-4{
  background-image: url('./../../scss/images/seld.jpg');
}
.leader-fish-5{
  background-image: url('./../../scss/images/skumbria.jpg');
}

.feature {
  background: #FFF;
  text-align: left;
}
.feature-end{
  font-family: 'Oswald', sans-serif;
  text-shadow: #e6a80e 0 0 3px;
  font-size: 2em;
  position: relative;
  color: #28495a;
}
.feature h1 {
  font-family: 'Oswald', sans-serif;
  text-shadow: #e6a80e 0 0 3px;
  font-size: 3em;
  position: relative;
  color: #28495a;
  display: inline-block;
  border-top: 2px solid;
  border-bottom: 2px solid;
  padding: 11px 60px;

  line-height: 1;
}
.feature h1:before, .feature h1:after {
  content: "";
  position: absolute;
  top: 0;
  width: 30px;
  height: 100%;
  border-left: 2px solid;
  border-right: 2px solid;
  background: repeating-linear-gradient(180deg, transparent, transparent 2px, #e6a80e 2px, #e6a80e 4px);
}
.feature h1:before {left: 0;}
.feature h1:after {right: 0;}
@media (max-width: 420px) {
  .feature h1 {font-size: 2em;}
}


.with-border-1 {
  position: relative;
  width: 100%;

  margin: 0 auto;
  border: 10px solid #D7CDC7;
  padding: 10px;
}
.with-border-2 {
  text-align: center;
  position: relative;
  border: 10px solid #D7CDC7;
  padding: 10px;
}
.with-border-1:before,
.with-border-1:after,
.with-border-2:before,
.with-border-2:after {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: #F9F9F9;
  background-image: linear-gradient(90deg, #e6a80e 33%, rgba(255,255,255,0) 33%, rgba(255,255,255,0) 66%, #e6a80e 66%, #e6a80e),
  linear-gradient(90deg, #e6a80e 33%, rgba(255,255,255,0) 33%, rgba(255,255,255,0) 66%, #e6a80e 66%, #e6a80e);
  background-repeat: no-repeat;
  background-size: 30px 10px;
  background-position: 0 0, 0 20px;
}
.with-border-1:before {
  left: -10px;
  top: -10px;
  z-index: 3;
}
.with-border-1:after {
  right: -10px;
  top: -10px;
  z-index: 3;
  background-position: 10px 0, 10px 20px;
}
.with-border-2:before {
  left: -30px;
  bottom: -30px;
  background-position: 0 10px, 0px 30px;
}
.with-border-2:after {
  right: -30px;
  bottom: -30px;
  background-position: 10px 10px, 10px 30px;
}
.with-border-2 p {

  font-family: 'Open Sans', sans-serif;
  font-style: italic;
  font-size: 18px;
  color: #7A7B82;
  line-height: 1.5;
}

.map{
  width: 100%;
  height: auto;
}


@media screen and (min-width: 800px) {
  .carousel-item{
    height: auto;
    overflow: unset;
  }
  .carousel-inner img{
    width: 100%;
    height: 100%;
    //transform: translateY(-30%);
  }
}
