<div class="container-fluid mt-xl-5">
  <div class="row">
    <div class="col-12 col-xl-4 p-4">
      <div class="subwrapper1 image-animation"><h3 class="title">Америка</h3></div>
    </div>
    <div class="col-12 col-xl-4 p-4">
    <div class="text-div">
      <h3 class="title mb-3 mt-xl-4 mb-xl-4">Все про нашу діяльність</h3>
      <hr>
      Компанія «АЛЬТА МАР» це компанія-імпортер, що має бездоганну репутацію та здійснює прямі поставки з різних
      країн світу: країн Балтики, Норвегії та Ісландії, Америки та Канади, Мексики і Перу, Іспанії, Нідерландів, Еквадору та Нової Зеландії безпосередньо з
      заводів-виробників, оснащених за останнім словом техніки, і відомих по всьому світу, які ретельно стежать за якістю своєї продукції.
      Весь товар сертифікований і відповідає всім встановленим Міжнародним Стандартам. Має прекрасний товарний вигляд і якісну упаковку.
      Велика частина представленої риби проходить процедуру «шокової заморозки», яка передбачає приміщення риби в морозильні камери, температура всередині яких
      становить нижче -30 ˚. Даний спосіб заморозки забезпечує максимальне збереження всіх корисних властивостей.
      Доставка в Україну відбувається в мінімально можливі терміни з моменту вилову риби. Наша компанія завжди приділяє увагу контролю за транспортуванням і
      зберіганням продукції, дотриманням всіх температурних режимів і термінів зберігання.</div>
    </div>
    <div class="col-12 col-xl-4 p-4">
    <div class="subwrapper5 image-animation"><h3 class="title">Нідерланди</h3></div>
    </div>
    <div class="col-12 col-xl-4 p-4">
    <div class="subwrapper2 image-animation"><h3 class="title">Норвегія</h3></div>
    </div>
    <div class="col-12 col-xl-4 p-4">
    <div class="subwrapper3 image-animation"><h3 class="title">Ісландія</h3></div>
    </div>
    <div class="col-12 col-xl-4 p-4">
    <div class="subwrapper4 image-animation"><h3 class="title">Латвія</h3></div>
    </div>
  </div>
</div>
<hr>

<div class="container-fluid text-center">
  <div>
    <h3 class="title mb-3 mt-xl-4 mb-xl-4">Чому треба обирати саме нас?</h3>
    <div class="container">
      <div class="text-div">
        Компанія «АЛЬТА МАР» гарантує оперативність та високу якість обслуговування клієнтів, надійність і порядність у відносинах з діловими партнерами.
        Приємним бонусом до покупки риби наша компанія надає гнучку систему знижок. При виборі відповідного постачальника важливим критерієм стає ціна на продукцію.
        Ми постаралися зробити її максимально вигідною для Вас, при цьому строго контролюючи якість продукції.
        Наша мета надати кожному українському споживачеві можливість купити якісну свіжоморожену рибу. Ми завжди відкриті до побажань і вподобань наших покупців.
      </div>
    </div>
  </div>
</div>
